@variables header {
	label: Header;
	Logo: image-replace;
}

.site-title a {
	header.Logo
}

@variables sc {
	label: Style C;
	bg: bgc;
	border_color: border-color;
	background-image: background-image;
}

.logged-in {
	.style-c {
		sc.bg
		border-width:10px;
		border-style: solid;
		sc.border_color
		sc.background-image
		background-repeat: no-repeat;
		background-position: center right;
	}
}



#pds_testbox {
	sc.bg
	border-width:10px;
	border-style: solid;
	sc.border_color
	padding: 20px;
	sc.background-image
	background-repeat: no-repeat;
	background-position: center right;
	.img {
		header.Logo
		float:left;
		margin: 0 20px 0 0;
	}
	.clear {
		clear:both;
	}
}

@variables {
  reset:0;
  blockElements: body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td;
}

 
var.blockElements
{
	margin:var.reset;
}

