@variables body{
	label: Body;
	background: #fff;
}

body {
	background-color: body.background;
	
}


@variables header {
	label: Header;
	Logo: image;
}

.site-title a {
	image-replace: url(header.Logo);
}

@variables sc {
	label: Style C;
	bg: #F2F2F2;
	border: #E3E3E3;;
}

.logged-in {
	.style-c {
		background-color: sc.bg;
		border-color: sc.border;
	}
}



#pds_testbox {
	background-color: sc.bg;
	border-width: 10px solid sc.border;
	padding: 20px;
	.img {
		image-replace: url(header.Logo);
		float:left;
		margin: 0 20px 0 0;
	}
	.clear {
		clear:both;
	}
}

@variables {
  reset:0;
  blockElements: body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td;
}

 
var.blockElements
{
	margin:var.reset;
}

