@variables c {
	body_color: #e2e2e1;
	body_color.type: color;
	body_color.nicename: Text Color;
	bodybg: #000;
	bodybg.type: color;
	bodybg.nicename: Background Color;
}

body
{
	color: c.body_color;
	background-color: c.bodybg;
} 
.pd-styles {
	label {
		color: c.body_color;
	}
	
}

@variables {
  reset:0;
  blockElements: body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td;
}

 
var.blockElements
{
	color:color.base;
	margin:var.reset;
}